.dropdown-menu{
    border-radius: 0;
    border: none;
    padding: .5em;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .23);
}
.dropdown-menu ul{
    list-style: none;
    padding: 0;
}
.dropdown-menu.show{
    display: flex;
}

.dropdown-menu li a{
    color: black;
    padding: .5em 1em;
}

.pagination{
    margin-left: 38%;
    margin-top: 2%;
}

.pagination-2{
    margin-left: 38%;
    margin-top: 2%;
}

#infofooter{
    margin-left: 50%;
}

